@tailwind base;
@tailwind components;
@tailwind utilities;


.font1 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.font2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
}
  